.wrapper{
    height: 100vh;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto auto ;
    gap: 10px;
    padding: 10px;
}
.ch1, .ch2, .ch3, .ch4, .ch5, .ch6{
    background-color: antiquewhite;
    border: 2px solid black;
    color: beige;
}
.ch1{
    grid-column-start: 1;
    grid-column-end: 4;

}
.ch4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.ch5{
    grid-column-start: 1;
    grid-column-end: 3;

}
.ch6{
    grid-column-start: 1;
    grid-column-end: 4;
}